# vehicle subsystem
hal_server_domain(hal_vehicle_default, hal_vehicle)

allow hal_vehicle_default car_service:service_manager { add };
allow hal_vehicle_default node:tcp_socket node_bind;
allow hal_vehicle_default self:tcp_socket { accept bind create listen };

typeattribute hal_vehicle_default hal_automotive_socket_exemption;
