#============= hwservicemanager ==============
allow hwservicemanager runtime_event_log_tags_file:file map;
allow hwservicemanager gnss_service_xenvm:binder call;
allow hwservicemanager gnss_service_xenvm:dir search;
allow hwservicemanager gnss_service_xenvm:file { open read };
allow hwservicemanager gnss_service_xenvm:process getattr;
