allow init kernel:system module_request;
allow init self:capability sys_module;
allow init vendor_file:system module_load;
allow init rootfs:system module_load;

# allow init to create /sdcard symlinks
allow init tmpfs:lnk_file create_file_perms;

# allow init to check for /dev/block/.block_devices_done
allow init block_device:file { getattr };

allow init metadata_block_device:blk_file { relabelto };

# allow init to mount cache/storage
allow init { cache_file storage_file }:dir mounton;

# allow init to set a wakelock
# It's used as a workaround to prevent the
# device entering the suspend state which
# isn't working now
wakelock_use(init);

# allow access to config fs
allow init { cache_file storage_file configfs }:dir mounton;
allow init configfs:dir create_dir_perms;
allow init configfs:file w_file_perms;
allow init configfs:lnk_file { create unlink };

allow init configfs:file create;
allow init debugfs:dir mounton;
allow init functionfs:dir mounton;
#============= init ==============
allow init self:capability sys_nice;
allow init sysfs:file create;

userdebug_or_eng(`
  dontaudit init self:capability dac_read_search;
  dontaudit init proc:file setattr;
  dontaudit init sysfs:file { open read };
')

