#============= shell ==============
allow shell hal_graphics_allocator_default:fifo_file { read write };
allow shell runtime_event_log_tags_file:file map;
