allow tee self:capability { chown setgid setuid sys_admin sys_rawio };
allow tee device:dir r_dir_perms;
allow tee block_device:dir { getattr search };
allow tee system_data_file:dir r_dir_perms;
allow tee vendor_data_file:dir create_dir_perms;
allow tee vendor_data_file:file create_file_perms;

type tee-supp, domain;
type tee-supp_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(tee-supp)

allow tee-supp self:capability sys_module;
allow tee-supp tee_device:chr_file { getattr ioctl open read write };
allow tee-supp vendor_data_file:file create_file_perms;
allow tee-supp vendor_data_file:dir create_dir_perms;
