#============= vms ==============
type vms, domain;
type vms_exec, exec_type, file_type;

allow vms self:capability { sys_nice };

allow vms system_app:binder { call };
allow vms car_service:service_manager { add };
allow vms vms_service:service_manager { add };
allow vms priv_app:binder { call };

r_dir_file(vms, domain)

init_daemon_domain(vms)

dontaudit vms self:capability { sys_ptrace };
dontaudit vms domain:dir search;
dontaudit vms domain:file { getattr open read };

binder_call(vms, servicemanager);
