import /init.car.rc

on init
    start vms
    symlink /sdcard /mnt/sdcard

on fs
    mount_all ./fstab.xenvm --early

on late-fs
    mount_all ./fstab.xenvm --late

on post-fs-data
    setprop vold.post_fs_data_done 1

on early-boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    chmod a+x /sys/kernel/debug
    chmod 0666 /sys/kernel/debug/sync/sw_sync

on boot
    chmod 777 /sys/kernel/debug/tracing
    chmod 0666 /sys/kernel/debug/tracing/trace_marker
    write /sys/power/wake_lock ws10_suspend_wa

on late-init
    chmod 666 /dev/video0
    start tee_supplicant

service pvrsrvctl /vendor/bin/pvrsrvctl --start
    class hal
    user root
    group root
    oneshot
    seclabel u:r:pvrsrvctl:s0

service tee_supplicant /vendor/bin/tee-supplicant
    user root
    group keystore
    seclabel u:r:tee-supp:s0
