import init.car.rc
import init.${ro.hardware}.usb.rc

on init
    start vms
    symlink /sdcard /mnt/sdcard

on fs
    mount_all --early

on late-fs
    mount_all --late

on post-fs-data
    mkdir /data/system/car 0700 system system
    setprop vold.post_fs_data_done 1
    insmod /vendor/lib/modules/phy-rcar-gen3-usb2.ko
    insmod /vendor/lib/modules/ehci-hcd.ko
    insmod /vendor/lib/modules/ohci-hcd.ko
    insmod /vendor/lib/modules/ohci-platform.ko
    insmod /vendor/lib/modules/ehci-platform.ko

on early-boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    chmod a+x /sys/kernel/debug
    chmod 0666 /sys/kernel/debug/sync/sw_sync
    insmod /vendor/lib/modules/rcar-rvgc-drm.ko
    start pvrsrvctl
    insmod /vendor/lib/modules/rcar-vivid.ko

on property:init.svc.vendor.hwcomposer-2-3=running
    wait_for_prop init.svc.vendor.hwcomposer-2-3 running
    wait /dev/video3
    start android.hardware.automotive.evs-default
    wait_for_prop init.svc.android.hardware.automotive.evs-default running
    start evsmanagerd
    start evs_app

on boot
    chmod 777 /sys/kernel/debug/tracing
    chmod 0666 /sys/kernel/debug/tracing/trace_marker
    # Wireless regulators control
    chmod 0666 /sys/class/rfkill/rfkill1/state
    chmod 0666 /dev/rfkill
    write /sys/power/wake_lock ws10_suspend_wa
    insmod /vendor/lib/modules/vspm.ko
    insmod /vendor/lib/modules/vspm_if.ko
    insmod /vendor/lib/modules/mmngr.ko
    insmod /vendor/lib/modules/mmngrbuf.ko
    insmod /vendor/lib/modules/uvcs_drv.ko

#   setprop debug.stagefright.ccodec 0

on late-init
    chmod 666 /dev/video0

service pvrsrvctl /vendor/bin/pvrsrvctl --start
    class hal
    user root
    group root
    oneshot
    seclabel u:r:pvrsrvctl:s0

on property:sys.boot_completed=1 && property:persist.vendor.xenvm-postinstall-done=0
    exec u:object_r:system_file:s0 root root -- /system/bin/wm density 160 -d 2
    exec u:object_r:system_file:s0 root root -- /system/bin/cmd -w settings put global show_notification_channel_warnings 0
    setprop persist.vendor.xenvm-postinstall-done 1

on property:sys.boot_completed=1
    start usb_bt_init
