import init.car.rc
import init.${ro.hardware}.usb.rc

on init
    start vms
    symlink /sdcard /mnt/sdcard

on fs
    mount_all ./fstab.xenvm --early

on late-fs
    mount_all ./fstab.xenvm --late

on post-fs-data
    mkdir /data/system/car 0700 system system
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    setprop vold.post_fs_data_done 1
    insmod /vendor/lib/modules/phy-rcar-gen3-usb2.ko
    insmod /vendor/lib/modules/ehci-hcd.ko
    insmod /vendor/lib/modules/ohci-hcd.ko
    insmod /vendor/lib/modules/ohci-platform.ko
    insmod /vendor/lib/modules/ehci-platform.ko

on early-boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    chmod a+x /sys/kernel/debug
    chmod 0666 /sys/kernel/debug/sync/sw_sync

on boot
    chmod 777 /sys/kernel/debug/tracing
    chmod 0666 /sys/kernel/debug/tracing/trace_marker
    write /sys/power/wake_lock ws10_suspend_wa
    insmod /vendor/lib/modules/vspm.ko
    insmod /vendor/lib/modules/vspm_if.ko
    insmod /vendor/lib/modules/mmngr.ko
    insmod /vendor/lib/modules/mmngrbuf.ko
    insmod /vendor/lib/modules/uvcs_drv.ko
    # default country code
    setprop ro.boot.wificountrycode 00

#   setprop debug.stagefright.ccodec 0

on late-init
    chmod 666 /dev/video0
    start tee_supplicant

service pvrsrvctl /vendor/bin/pvrsrvctl --start
    class hal
    user root
    group root
    oneshot
    seclabel u:r:pvrsrvctl:s0

service tee_supplicant /vendor/bin/tee-supplicant
    user root
    group keystore
    seclabel u:r:tee-supp:s0

service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
        -ip2p0 -Dnl80211 -c/vendor/etc/wifi/p2p_supplicant.conf \
        -N \
        -iwlan0 -Dnl80211 -c/vendor/etc/wifi/wpa_supplicant.conf \
        -O/data/vendor/wifi/wpa/sockets -g@android:wpa_wlan0
     interface android.hardware.wifi.supplicant@1.0::ISupplicant default
     interface android.hardware.wifi.supplicant@1.1::ISupplicant default
     interface android.hardware.wifi.supplicant@1.2::ISupplicant default
     socket wpa_wlan0 dgram 660 wifi wifi
     class main
     disabled
     oneshot

on property:sys.boot_completed=1 && property:persist.vendor.xenvm-postinstall-done=0
    exec u:object_r:system_file:s0 root root -- /system/bin/wm density 160 -d 2
    exec u:object_r:system_file:s0 root root -- /system/bin/cmd -w settings put global show_notification_channel_warnings 0
    setprop persist.vendor.xenvm-postinstall-done 1
