/dev/ion		0666	system		graphics
/dev/pvrsrvkm		0666	system		graphics
/dev/pvr_sync		0666	system		graphics
/dev/dri/controlD64	0660	system		graphics
/dev/ttyUSB0		0666	system		system
/dev/teepriv0		0660	system		keystore
/dev/tee0		0660	system		keystore
/dev/rgnmm              0660    mediacodec      media
/dev/rgnmmbuf           0660    mediacodec      media
/dev/vspm_if            0660    mediacodec      media
/dev/uvcs               0660    mediacodec      media
/dev/video0             0666    media           media
/dev/video1             0666    media           media
/dev/media0             0666    media           media
/dev/v4l-subdev0        0666    media           media
/dev/v4l-subdev2        0666    media           media
/dev/v4l-subdev3        0666    media           media
