type hal_bootctl_img, domain;
hal_server_domain(hal_bootctl_img, hal_bootctl)

type hal_bootctl_img_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_bootctl_img)
