type hal_atrace_img, domain;
hal_server_domain(hal_atrace_img, hal_atrace)

type hal_atrace_img_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_atrace_img)


# Allow atrace hal to access /proc/pvr/
allow hal_atrace_img proc_pvr:file { open read write };
allow hal_atrace_img proc_pvr:dir { open search read };
