# allow init to access /vendor/etc/selinux/vendor_file_contexts
allow vendor_toolbox_exec vendor_configs_file:file map;

# allow init to access /system/etc/selinux/plat_file_contexts
allow vendor_toolbox_exec file_contexts_file:file map;
