#============= flags_health_check ==============
allow flags_health_check hwservicemanager_prop:file { getattr map };
allow flags_health_check llkd_prop:file { getattr map open };
allow flags_health_check logpersistd_logging_prop:file { getattr map open };
allow flags_health_check lowpan_prop:file { getattr map open };
allow flags_health_check lpdumpd_prop:file { getattr map open };
allow flags_health_check mmc_prop:file { getattr map open };
allow flags_health_check net_dns_prop:file { getattr map open };
allow flags_health_check nnapi_ext_deny_product_prop:file { getattr map open };
allow flags_health_check overlay_prop:file { getattr map open };
allow flags_health_check persistent_properties_ready_prop:file { getattr map open };
allow flags_health_check safemode_prop:file { getattr open };

